.hou{
    margin-left: 10cm;
    margin-top: 2cm;

}
.houb{
  
    margin-right: 11cm;
    margin-left: 12cm;
}
.boub{
    margin-right: 11cm;
    margin-left: 12cm;

}
body{
    background-color: rgb(106, 146, 106);
}
